*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: dark light;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
}

img {
  border-radius: var(--br);
}

svg {
  cursor: inherit;
}

a {
  color: var(--clr-text);
}

a:link {
  color: var(--clr-text);
}

a:visited {
  color: var(--clr-text);
}

a:hover {
  color: var(--clr-text);
}

a:active {
  color: var(--clr-alert);
}

span {
  text-decoration: underline;
  font-weight: 200;
  text-underline-offset: 0.5rem;
}

:root {
  --clr-text: #b2e1a8;
  --clr-background: #000000;
  --clr-background-accent: #e60e0a;
  --clr-background-dimmed: #1a1a1a;
  --clr-primary: #ffffff;
  --clr-secondary: #ffffff;
  --clr-accent: #b2e1a8;
  --clr-alert: #e60e0a;
  --page-background: radial-gradient(
    farthest-corner at 100% 100%,
    var(--clr-background-accent) 0%,
    var(--clr-background) 50%
  );

  --ff-base: "VT323", monospace;
  --ff-accent: "VT323", monospace;

  --fs-xss: clamp(0.77rem, calc(0.75rem + 0.04vw), 0.73rem);
  --fs-xs: clamp(0.88rem, calc(0.85rem + 0.11vw), 0.94rem);
  --fs-s: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --fs-m: clamp(1.69rem, calc(1.62rem + 0.33vw), 1.88rem);
  --fs-l: clamp(2.25rem, calc(2.16rem + 0.43vw), 2.5rem);
  --fs-xl: clamp(3.38rem, calc(3.24rem + 0.65vw), 3.75rem);
  --fs-2xl: clamp(4.5rem, calc(4.33rem + 0.87vw), 5rem);
  --fs-3xl: clamp(6.75rem, calc(6.49rem + 1.3vw), 7.5rem);

  --br: 0.5rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --clr-text: #b2e1a8;
    --clr-background: #000000;
    --clr-background-accent: #e60e0a;
    --clr-background-dimmed: #1a1a1a;
    --clr-primary: #ffffff;
    --clr-secondary: #ffffff;
    --clr-accent: #b2e1a8;
    --clr-alert: #e60e0a;
    --page-background: radial-gradient(
      farthest-corner at 100% 100%,
      var(--clr-background-accent) 0%,
      var(--clr-background) 50%
    );
  }
}

@font-face {
  font-family: "VT323", monospace;
  src: url(https://fonts.googleapis.com/css2?family=VT323);
  font-weight: 400;
  font-style: normal;
}

html,
body {
  font-size: var(--fs-m);
  font-family: var(--ff-base);
  line-height: 1.6;
  color: var(--clr-text);
  min-height: 100vh;
  background: var(--clr-background);
}
